<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h1>게시글 수정</h1>

    <form action="./updateArticleProcess" method="post">
    작성자: <span th:text="${yyyy.userDto.nickname}"></span><br>
    제목: <input name="title" type="text" th:value="${yyyy.articleDto.title}"><br>
    내용:<br>
    <textarea name="content" th:text="${yyyy.articleDto.content}"></textarea>
    <input type="hidden" name="id" th:value="${yyyy.articleDto.id}">

    <button>수정완료</button><br>
    </form>

</body>
</html>