<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ja.finalproject.board.mapper.BoardSqlMapper">
    <insert id="createArticle"> 
        INSERT INTO fp_article(
            user_id, 
            title, 
            content, 
            read_count)
        VALUES (
            #{user_id}, #{title}, #{content}, 0
        );
    </insert>

    <select id="findAll" resultType="com.ja.finalproject.dto.ArticleDto">
        SELECT * 
        FROM fp_article fa
        ORDER BY fa.id DESC
    </select>

    <select id="findById" resultType="com.ja.finalproject.dto.ArticleDto">
        SELECT * FROM fp_article fa WHERE fa.id = #{id};
    </select>

    <update id="increaseReadCount">
        UPDATE fp_article SET read_count = read_count + 1 WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM fp_article WHERE id = #{id}
    </delete>

    <update id="update">
        UPDATE fp_article 
        SET 
            title = #{title},
            content = #{content}
        WHERE id = #{id}
    </update>

</mapper>